@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
}

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* NAVBAR BEGINS */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    height: auto;
    background-color: #636C79;
}


.logo{
    margin-left: 10rem;
}

.logo>img{
    height: 4.5rem;
}

.list{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    margin-right: 10rem;
}

.list{
    list-style-type: none;
    float: right;
}
.list>li{
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-btn{
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    border: 0.1rem solid #fff;
    padding: 0.8rem 3.3rem;
    margin-left: 10rem;
    cursor: pointer;
}
.nav-link{
    color: #ffffff;
}

.active{
    color: #ffffff;
}


.burger{
    display: none;
}

/* NAVBAR ENDS */


/* MAIN SECTION BEGINGSS */

.main-section{
    background-color: #636C79;
    display: flex;
    padding: 4rem 10rem ;
}

.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
}

.main-image{
    width:70%;
    border-radius: 1rem;
}

.right-section{
    width: 60%;
}

.main-heading{
    color: #fff;
    font-size: 7rem;
    width:90%;
    margin-top: 5rem;
}


.main-para{
    color: #fff;
    width: 80%;
    margin-top: 5rem ;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.8;
    padding-bottom: 5rem;
}


.main-search-box i {
    position: relative;
    left: -54.5rem;
    top:  0.5rem;
  } 


  
  .main-text-box {
    background-color: #ffffff;
    border: none;
    color: #9c9d9f;
    height: 6rem;
    width: 50rem;
    padding: 5px 0 5px 50px;
    font-size: 2.1rem;
  }
  
  .main-button {
    position: relative;
    right: 20.3rem;
    height: 5.2rem;
    margin-top: 5px;
    width: 160px;
    font-size: 18px;
    font-weight: 700;
    color: #fdfefe;
    background-color: #8bb7a2;
    border: none;
  }




/* MAIN SECTION ENDS */


/* TARGET SRCTION BEGINS */

.target-section{
    margin: 10rem 0rem;
}




.targetheader{
    font-size: 4rem;
    display: flex;
    text-align: center;
    align-items: center;
    width: 30%;
    margin: 0rem  auto;
    margin-bottom: 5rem;
}

.target-numbers{
    display: flex;
    justify-content: space-between;
}


/* .target-numbers div h3 {

} */


/* TARGET SRCTION ENDS */
